.FilmCard {
    height: 200px;
    width: 300px;
    background-color: var(--secondary-bg-color);
    margin: 10px 0px;
    border-radius: 10px;
    border: 2px solid var(--secondary-bg-color);
    display: flex;
    flex-direction: column;
}

.FilmCard_favorite {
    border: 2px solid var(--main-accent-color);
}

.FilmCard_title {
    color: var(--main-light-color);
    font-size: 1.5rem;
    font-family: var(--main-font);
}

.FilmCard_icon_wrapper {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}