.FilmsDisplay {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1100px;
}

.FilmsDisplay_loading {
    color: var(--main-light-color);
    margin-top: 50px;
}

.FilmsDisplay_button_wrapper {
    margin-bottom: 20px;
}