.App {
  text-align: center;
}

:root {
  --main-bg-color: #3B4252;
  --main-accent-color: #BF616A;
  --secondary-bg-color: #4C566A;
  --main-light-color: #D8DEE9;
  --main-font: 'Ubuntu', sans-serif;
  --secondary-font: 'Cantarell', sans-serif;
}